.App {
    background-color: #D2FDFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px auto;
    gap: 10px;


}

.NavbarItems {
    grid-column: 1/4;
}

.Gameboard {
    grid-column: 2/4;

}
