/* .CardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 100%;
    border-color: red;
    border-style: dotted;
    padding: 3%;
    flex-shrink: 1;
} */