.NavbarItems {
    display: flex;
    justify-content: space-between;
    width: 100%;
    direction: row;
    background-color: #D2FDFF;
}

.navButton {
    font-family: 'Nunito', sans-serif;
}

#signup {}

#login {}